*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
:IN_EXT - [0:0]
:IN_INT - [0:0]
:FW_EXT_INT - [0:0]
:FW_INT_EXT - [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -m conntrack --ctstate NEW -j ACCEPT
# VRRP (keepalived)
-A INPUT -p vrrp -j ACCEPT
-A INPUT -p ah -j ACCEPT
{% for item in router_external_trusted_interfaces %}
-A INPUT -i {{ item }} -j ACCEPT
{% endfor %}
{% for item in router_external_interfaces %}
-A INPUT -i {{ item }} -j IN_EXT
{% endfor %}
{% for item in router_internal_interfaces %}
-A INPUT -i {{ item }} -j IN_INT
{% endfor %}
-A INPUT -j LOG  --log-prefix "End of input chain reached -> unknown interface: " --log-level 4
-A INPUT -j DROP

{% for item in router_external_open_ports %}
-A IN_EXT -p {{ item.proto }} -m {{ item.proto }} --dport {{ item.port }} -j ACCEPT
{% endfor %}
# Allow specific packets to be routed
{% for item in router_external_forward_allowed %}
-A IN_EXT -d {{ item.dest }} -p {{ item.proto }} -m {{ item.proto }} --dport {{ item.port }} -j ACCEPT
{% endfor %}
-A IN_EXT -m limit --limit 10/min -j LOG  --log-prefix "FW-EXT-DROP: " --log-level 4
-A IN_EXT -j DROP
# Everything for int
-A IN_INT -j ACCEPT

-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{% for item in router_external_trusted_interfaces %}
-A FORWARD -i {{ item }} -j ACCEPT
{% endfor %}
{% for extif in router_external_interfaces %}
{% for intif in router_internal_interfaces %}
-A FORWARD -i {{ extif }} -o {{ intif }} -j FW_EXT_INT
-A FORWARD -i {{ intif }} -o {{ extif }} -j FW_INT_EXT
{% endfor %}
{% endfor %}
-A FORWARD -m limit --limit 10/min -j LOG  --log-prefix "FW-NF-DROP: " --log-level 4
-A FORWARD -j DROP

{% for item in router_external_forward_allowed %}
-A FW_EXT_INT -p {{ item.proto }} -m {{ item.proto }} --dport {{ item.port }} -j ACCEPT
{% endfor %}
-A FW_EXT_INT -p icmp -m conntrack --ctstate NEW -j ACCEPT
-A FW_EXT_INT -m limit --limit 10/min -j LOG  --log-prefix "FW-EXTINT-DROP: " --log-level 4
-A FW_EXT_INT -j DROP

{% if router_allow_int_inet %}
-A FW_INT_EXT -j ACCEPT
{% else %}
-A FW_INT_EXT -m limit --limit 10/min -j LOG  --log-prefix "FW-INTEXT-DROP: " --log-level 4
-A FW_INT_EXT -j DROP
{% endif %}

COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{% for item in router_do_masquerade %}
-A POSTROUTING -o {{ item.outif }} {{ item.condition }} -j MASQUERADE
{% endfor %}
COMMIT
